/* General */
body {
  background-color: #000;
  color: #fff;
  font-family: playfair display;
  margin: 0;
  padding: 0;
  text-align: center;
}

/* Navbar */
.navbar ul {
  list-style: none;
  padding: 10px;
  display: flex;
  justify-content: center;
  gap: 20px;
  background:black;
  font-size: 18px;
}

.navbar a {
  color: gold;
  text-decoration: none;
  font-weight: bold;
}

.navbar a:hover {
  text-decoration: underline;
}

/* Title */
.page-title {
  margin: 35px;
  font-family: 'Mea Culpa', cursive;
  color: gold;
  font-size: 50px;
}

/* Warning box */
.warning {
  background: rgba(255, 255, 255, 0.05);
  border-left: 4px solid red;
  margin: 20px auto;
  padding: 20px;
  max-width: 600px;
  border-radius: 8px;
  text-align: left;
  font-size: 14px;
}

/* Form */
.form-container {
  max-width: 600px;
  margin: 20px auto;
  padding: 25px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
  text-align: left;
}

label {
  display: block;
  margin: 12px 0 5px;
  font-weight: bold;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background: #111;
  color: #fff;
  font-size: 14px;
}

textarea {
  resize: none;
}

.checkbox {
  margin: 10px 0;
  font-size: 14px;
}

.checkbox label {
  font-weight: normal;
  display: flex;
  align-items: center;
}

.checkbox input {
  margin-right: 10px;
}

/* Button */
button {
  width: 100%;
  padding: 12px;
  background: gold;
  color: #000;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  margin-top: 15px;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background: #e6c200;
}

/* Form note */
.form-note {
  font-size: 15px;
  margin: 20px auto;
  max-width: 600px;
  line-height: 1.4;
}
.form-note a {
  color: gold;
  text-decoration: none;
}